.category {
  height: 100%;
  overflow: scroll;
}

.category_buttons {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 20%;
  border-radius: 20px; 
  width: 180px;
  height: 90px;
  padding-bottom: 3px;
  font-size: 1.2rem;
  margin: 10px;
  outline: none;
}

/* HOME CATEGORY */
#house {
  background-image: url("./Images/house.png"), linear-gradient(#1c10ee, #499ee3, #cdebf1);
  color: white;
}
#rent {
  background-image: url("./Images/rent.png");
  background-color: rgb(64,224,208);
  color: white;
}
#property {
  background-image: url("./Images/propertytax.png");
  background-color: rgb(95,158,160);
  color: white;
}
#home_maintenance {
  background-image: url("./Images/homemaintenance.png");
  background-color: rgb(135,206,235);
  color: white;
}
#hydro {
  background-image: url("./Images/hydro.png");
  background-color: rgb(176,196,222);
  color: white;
}
#home_phone {
  background-image: url("./Images/hometelephone.png");
  background-color: rgb(30,144,255);
  color: white;
}
#cable_internet {
  background-image: url("./Images/cableinternet.png");
  background-color: rgb(95,158,160);
  color: white;
}
#mortgage {
  background-image: url("./Images/mortgage.png");
  background-color: rgb(100,149,237);
  color: white;
}
#cell_phone {
  background-image: url("./Images/cellphone.png");
  background-color: rgb(173,216,230);
  color: white;
}
#water {
  background-image: url("./Images/water.png");
  background-color: rgb(0,0,139);
  color: white;
}


/* INSURANCE CATEGORY */
#insurance {
  background-image: url("./Images/insurance.png");
  background-color: rgb(255,255,224);
  color: black;
}
#mortgage_insurance {
  background-image: url("./Images/mortgage_insurance.png");
  font-size: 1.1rem;
  background-color: rgb(238,232,170);
}
#auto_insurance {
  background-image: url("./Images/autoinsurance.png");
  background-color: rgb(240,230,140);
}
#home_insurance {
  background-image: url("./Images/homeinsurance.png");
  background-color: rgb(245,245,220);
}
#life_insurance {
  background-image: url("./Images/lifeinsurance.png");
  background-color: rgb(255,240,245);
}

/* TRAVELLING RELATED CATEGORIES */
#transportation {
  background-image: url("./Images/transportation.png");
  background-color: rgb(59, 115, 2);
}
#gas {
  background-image: url("./Images/gas.png");
  background-color: rgb(34, 240, 111);
}
#parking {
  background-image: url("./Images/parking-sign.png");
  background-color: rgb(171, 217, 4);
}
#public_transportation {
  background-image: url("./Images/publictransportation.png");
  font-size: 1.1rem;
  background-color: rgb( 74, 235, 40);
}

/* FOOD RELATED CATEGORIES */
#food {
  background-image: url("./Images/food.png");
  background-color: rgb(240, 20, 102);
  color: white;
}
#groceries {
  background-image: url("./Images/grocery.png");
  background-color: rgb(253, 89, 255);
  color: white;
}

#restaurants {
  background-image: url("./Images/restaurant.png");
  background-color: rgb(235, 16, 191);
  color: white;
}

#beverage {
  background-image: url("./Images/beverage.png");
  background-color: rgb(255, 79, 182);
  color: white;
}


/* OTHER CATEGORIES */
#medical {
  background-image: url("./Images/medical.png");
  background-color: rgb(242, 116, 5)
}

#pets {
  background-image: url("./Images/pets.png");
  background-color: rgb(242, 93, 39)
}

#loans {
  background-image: url("./Images/loans.png");
  background-color: rgb(255, 255, 0);
}

#recreational {
  background-image: url("./Images/recreational.png");
  background-color: rgb(242, 183, 5);
}

#miscellaneous {
  background-image: url("./Images/miscellaneous.png");
  background-color: rgb(242, 159, 5)
}









