.nav {
  position: fixed;
  display: flex;
  height: 100%;
  z-index: 1;
}

nav button {
  display: flex;
  flex-direction: column;
}

.nav nav {
  width: 25rem;
  background-color: gray;
  flex-flow: column;
}

/* Adding a image to button test code */
/* #home_page {
  background-image: url("./Images/house.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  width: 80px;
  height: 62px;
} */
