
#add_new_category{
  width: 25%;
  display: inline-block;
  margin: 1%;
  position: relative;
  z-index: 0;
}

.banner {
  display: flex;
  margin-bottom: 2%;
  width: 100vw;
  color: #5A95C6;
  opacity: 1;
}

.banner .h1NewCat {
 width: 50vw;
 align-items: center;
 justify-content: center;
 padding: 0px 40px 0px 40px;
 /* background: url("./Images/grid-portrait.png") no-repeat; */
 background-size: 50vw;
}

.banner img {
  opacity: 1;
}

.piggybank {
  width: 50vw;
  background-size: c;
} 

.h1NewCat{
  display: flex;
  align-content: flex-end;
}

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin: auto;
}

.inputMaterial:focus {
  outline: none;
} 

.bar {
  position: relative;
  display: block;
  width: 315px;
  margin: auto;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #009688; 
  transition:0.2s ease all; 
}


.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.inputMaterial:focus ~ .bar:before, 
.inputMaterial:focus ~ .bar:after {
  width: 50%;
}

.inputMaterial:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}
