.new-entry{
  margin-top: 70px;
}

.new_entry_banner {
  display: flex;
  width: 100vw;
}

.new_entry_banner .newEntry {
 width: 50vw;
 align-items: center;
 justify-content: center;
 padding: 0px 120px 0px 120px;
 background: linear-gradient(to right, rgb(199, 199, 199), #e6dada);
 margin: 0;
 font-size: 1.8rem;
 color: #5e5b5b;
}

.newEntry {
  display: flex;
  align-content: flex-end;
  text-transform: uppercase;
  font-variant: unicase;
  text-shadow: 2px 2px 2px white;
}

form {
  width: 50%;
  margin: 2% auto;
  transition: 2s;
}

.new-entry span{
  display: block;
}

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin: auto;
}

.inputMaterial:focus {
  outline: none;
} 

.bar {
  position: relative;
  display: block;
  width: 315px;
  margin: auto;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #009688; 
  transition:0.2s ease all; 
}

.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.inputMaterial:focus ~ .bar:before, 
.inputMaterial:focus ~ .bar:after {
  width: 50%;
}

.inputMaterial:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

.newEntryButton {
  background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 16px;
  font-weight: 300;
  width:315px;
  margin: 1% auto 3% auto;
	display:block;
  cursor:pointer;
	transition: all 0.4s;
	border-radius: 2px;
}
/* top2 % left 34% right 50% */
.newEntryButton:hover {
  background: #009688;
  color: #FFF;
	transition: all 0.4s;
}

.newEntryButton:active{
	background: #009688;
  color: #263238;
}

@keyframes new_entry_banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}